<p>Now, please insert the details of your event</p>
<form action="" method="POST">
  <label for="title">Name:</label>
  <br />
  <input type="text" name="title" placeholder="eg: Meeting" minlength="1">
  <br />
  <label for="location">Location:</label>
  <br />
  <input type="Address" name="location" placeholder="eg: Melbourne" minlength="1">
  <br />
  <label for="time">Date:</label>
  <br />
  <input type="date" name="time" value="2024-01-01">
  <br />
  <br />
  <input type="submit" value="Create">
</form>